.add-to-cart {
  float: left;
}
.MuiButtonBase-root {
  .makeStyles-expansionPanelSummaryExpandIcon-394 {
    position: static;
  }
  .makeStyles-expansionPanelSummaryExpandIcon-276 {
    position: static;
  }
  .MuiIconButton-root {
    position: static;
  }
}
.MuiInputBase-root .MuiSelect-icon {
  position: static;
}
