.MuiDrawer-root {
    .MuiPaper-root {
        background-color: #005660;
        direction: rtl;
        .makeStyles-closeButtonDrawer-58 {
            left: 8px;
            right: auto;
        }
    }
}